<a href="https://colab.research.google.com/github/minhwa518/projectmanager/blob/main/1_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_02_%EC%9E%90%EB%A3%8C%ED%98%95%EA%B3%BC%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%91%9C%ED%98%84_%EB%B0%B0%ED%8F%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초 다지기

## 2 - 파이썬 자료형과 데이터 표현
파이썬의 다양한 데이터 타입과 다양한 연산자, 문자열

----------------------------------

## 2-1.파이썬 자료형(Data Type)

### 수학 연산하기

### [실습문제]
- 문제1: 10 + 3 x 4 결과 출력
- 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
- 문제3: 주어진 자연수가 홀수인지 짝수인지 판별하는 방법은?
- 문제4: 2x2x2x5x5x5x5x3x3x3x3을 제곱형태로 나타낸 후 그 결과 출력하기

In [36]:
# 문제1: 10 + 3 x 4 결과 출력
print('10 + 3 x 4 =', 10+3*4)
print()  # 자동 줄바꿈기능

# 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
iphone =15
price = 1300000
print('%d x %d = %d' % (iphone, price, iphone * price))
print(f'{iphone} x {price} = {iphone * price}')
print(f'{iphone:>10} x {price} = {iphone * price}')   # :>10 -> 오른쪽정렬로 10자리 잡아줘, ^ -> 가운데정렬
print(f'{iphone:^10} x {price} = {iphone * price}')   # :^10 -> 가운데정렬로 10자리 잡아줘
print()  # 자동 줄바꿈기능

# 문제3: 주어진 자연수가 홀수인지 짝수인지 판별하는 방법은?
import random
number = random.randint(1, 100)   # 1~100까지의 임의의 정수
if number%2==0 :       # number를 2로 나눠서 나머지가 0인 것: 짝수
    print(number, '홀짝?', '짝수')
else:
    print(number, '홀짝?', '홀수')
print()  # 자동 줄바꿈기능

# 문제4: 2x2x2x5x5x5x5x3x3x3x3을 제곱형태로 나타낸 후 그 결과 출력하기
print('2x2x2x5x5x5x5x3x3x3x3 =', 2**3 * 5**4 * 3**4)

10 + 3 x 4 = 22

15 x 1300000 = 19500000
15 x 1300000 = 19500000
        15 x 1300000 = 19500000
    15     x 1300000 = 19500000

46 홀짝? 짝수

2x2x2x5x5x5x5x3x3x3x3 = 405000

### 변수
데이터를 저장할 수 있는 공간

**변수 사용 시 주의사항**
- 첫 글자는 영문, 혹은 _(언더바)로 시작할 것 (한글도 가능)
- 영문자, 숫자, _(언더바)만으로 구성할 것 (공백문자 불가)
- 대문자, 소문자 구분해서 사용할 것
- 예약어는 피할 것

### 파이썬 자료형

In [27]:
d1 = 123
d2 = '123'
d3 = [123]
d4 = (123,)
d5 = {'key':123}
d6 = {123}
d7 = True

print(f'데이터 {d1}의 자료형: {type(d1)}')
print(f'데이터 {d2}의 자료형: {type(d2)}')
print(f'데이터 {d3}의 자료형: {type(d3)}')
print(f'데이터 {d4}의 자료형: {type(d4)}')
print(f'데이터 {d5}의 자료형: {type(d5)}')
print(f'데이터 {d6}의 자료형: {type(d6)}')
print(f'데이터 {d7}의 자료형: {type(d7)}')

데이터 123의 자료형: <class 'int'>
데이터 123의 자료형: <class 'str'>
데이터 [123]의 자료형: <class 'list'>
데이터 (123,)의 자료형: <class 'tuple'>
데이터 {'key': 123}의 자료형: <class 'dict'>
데이터 {123}의 자료형: <class 'set'>
데이터 True의 자료형: <class 'bool'>

### 표준 입력과 출력
- 키보드로부터 입력을 받는 함수( input() )을 표준 입력함수라 한다.
- 화면에 출력하는 함수( print() )를 표준 출력함수라 한다.

In [47]:
# 표준 입력(키보드로부터 데이터를 입력 받는 것)
# a = input('숫자를 입력하세요: ')
# a = float(a)
# 파이썬은 아래와 같이 감싸서 짧게 쓰도록 해본다.
a = float( input('숫자를 입력하세요: ') )
#a = list(int( input('숫자를 입력하세요: ') ))   -> 오류난다
#a = list(map(int, input('숫자들을 입력하세요 (공백으로 구분): ').split()))


# 표준 출력
print(f'변수 a의 값: {a}, {type(a)}')

숫자를 입력하세요: 666
변수 a의 값: 666.0, <class 'float'>

#### 문자열 데이터를 숫자(정수)로 변환하기

In [ ]:
# 문자열 데이터를 숫자(정수)로 변환하기

#### 다양한 변수 출력 방법

In [ ]:
a = input('키보드로 숫자를 입력해 주세요 ')

print('변수 a에 기억된 값은 )

### [실습문제] : 계산기 프로그램 만들기
정수 2개를 키보드로 각각 입력 받아 아래와 같이 덧셈, 뺄셈, 곱셈, 몫, 나머지를


출력하는 프로그램을 만들어 보세요.

In [49]:
num1 = int(input('첫번째 숫자: '))
num2 = int(input('두번째 숫자: '))
print('-' * 50)  # 문자열에서 * 뜻은? 반복해라~!
print('덧셈: %d + %d = %d' % (num1, num2, num1+num2) ) # 변수 여러개는 괄호를 꼭 써줘야 오류 안난다.
print('뺄셈: %d - %d = %d' % (num1, num2, num1-num2) )
print('곱셈: %d * %d = %d' % (num1, num2, num1*num2) )
print('나눗셈: %d / %d = %f' % (num1, num2, num1/num2) ) # 나눗셈 하면 소수점 나올 수 있으니까 실수형으로!!

첫번째 숫자: 100
두번째 숫자: 30
--------------------------------------------------
덧셈: 100 + 30 = 130
뺄셈: 100 - 30 = 70
곱셈: 100 * 30 = 3000
나눗셈: 100 / 30 = 3.333333

- f'string' 함수를 이용해 출력하기

In [51]:
num1 = int(input('첫번째 숫자: '))
num2 = int(input('두번째 숫자: '))
print('-' * 50)  # 문자열에서 * 뜻은? 반복해라~!
print(f'덧셈: {num1} + {num2} = {num1+num2}' )
print(f'뺄셈: {num1} - {num2} = {num1-num2}' )
print(f'곱셈: {num1} * {num2} = {num1*num2}' )
print(f'나눗셈: {num1} / {num2} = {num1/num2:.2f}' )   # 소숫점 아래 둘째자리까지 표시

# f'string' 함수는 자료형 지정 안해줘도 된다.

첫번째 숫자: 100
두번째 숫자: 30
--------------------------------------------------
덧셈: 100 + 30 = 130
뺄셈: 100 - 30 = 70
곱셈: 100 * 30 = 3000
나눗셈: 100 / 30 = 3.33

### [실습문제] : 시간 계산 프로그램
속력과 거리를 입력 받아 시간을 계산하여 출력하는 프로그램을 만드세요!
- 시간 = 거리 / 속력

In [62]:
velocity = float( input('속력를 입력해 주세요(km/h) : ') )   #  int로 하면 결과가 왜곡될 수 있다.
distance = float( input('거리를 입력해 주세요(km) : ') )
print('-' * 50)


print(f'속력: {velocity} km/h')
print(f'거리: {distance} km')
print(f'시간: {distance / velocity} h')

속력를 입력해 주세요(km/h) : 700
거리를 입력해 주세요(km) : 325
--------------------------------------------------
속력: 700.0 km/h
거리: 325.0 km
시간: 0.4642857142857143 h

- eval()함수 사용하여 문자열을 계산할 수 있다

In [68]:
# eval()함수 사용
eval('10+40*3/2')

70.0

In [69]:
velocity = input('속력를 입력해 주세요(km/h) : ')
distance = input('거리를 입력해 주세요(km) : ')
time = eval(f'{distance}/{velocity}')
print(f'걸린 시간은 {time}h = {distance}km / {velocity}km/h')

속력를 입력해 주세요(km/h) : 100
거리를 입력해 주세요(km) : 325
걸린 시간은 3.25h = 325km / 100km/h

### 내장 수학 함수
- 파이썬 내장 함수 https://docs.python.org/ko/3.10/library/functions.html

In [70]:
import math

a = -3.14

print(f'원주율: {math.pi}')
print(f'절대값: {abs(a) }')
print(f'반올림: {round(a) }')
print(f'올림  : {math.ceil(a) }')
print(f'내림  : {math.floor(a) }')
print(f'제곱  : {math.pow(2, 8) }')
print(f'제곱근: {math.sqrt(4) }')
print(f'로그  : {math.log(10) }')

원주율: 3.141592653589793
절대값: 3.14
반올림: -3
올림  : -3
내림  : -4
제곱  : 256.0
제곱근: 2.0
로그  : 2.302585092994046

### [실습문제]: 수학 함수 사용하여 계산하기
- 문제1: 반지름이 4인 원의 넓이 출력
- 문제2: 3.14 곱하가 2 나누기 7의 값을 반올림하여 계산 결과 출력
- 문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력

In [78]:
r = 4

# 문제1: 반지름이 4인 원의 넓이 출력
print(f'원의 넓이: {math.pow(r, 2) * math.pi}')

# 문제2: 3.14 곱하기 2 나누기 7의 값을 반올림하여 계산 결과 출력
print(f'반올림: {round(3.14 * 2 / 7)}')

# 문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력
print(f'원의 둘레: {r*2*round(math.pi, 2)}')

원의 넓이: 50.26548245743669
반올림: 1
원의 둘레: 25.12

In [81]:
r = 4

# 문제1: 반지름이 4인 원의 넓이 출력
print(f'반지름이 4인 원의 넓이: {math.pi * 4**2}')

# 문제2: 3.14 곱하기 2 나누기 7의 값을 반올림하여 계산 결과 출력
print(f'3.14 곱하기 2 나누기 7의 값을 반올림: {round(3.14 * 2 / 7)}')

# 문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력
print(f'원의 둘레: {r*2*round(math.pi, 2)}')

반지름이 4인 원의 넓이: 50.26548245743669
3.14 곱하기 2 나누기 7의 값을 반올림: 1
원의 둘레: 25.12

In [116]:
a = input('정수를 입력하세요: ')

print(f'{a} + {a*2} + {a*3} = {int(a) + int(a*2) + int(a*3)}')

정수를 입력하세요: 7
7 + 77 + 777 = 861

In [117]:
a = input('정수를 입력하세요: ')
result = f"{a}+{a*2}+{a*3}"
print(f'{result} = {eval(result)}')

정수를 입력하세요: 7
7+77+777 = 861

---------------------------

## 2-2.문자와 문자열

#### 문자와 문자열 변환

In [ ]:
# 문자 --> 숫자(정수) 로 변환 : ord() 함수 사용
print( ord('A') )
print( ord('!') )
print( ord('가') )

In [ ]:
# 숫자(정수) --> 문자 로 변환 : chr() 함수 사용
print( chr(65) )
print( chr(66) )
print( chr(97) )
print( chr(98) )
print( chr(44032) )
print( chr(44033) )

In [ ]:
# 문자 --> 숫자 --> 이진수 로 변환
for c in '파이썬':
    숫자변환 = ord(c)              # unicode
    이진수변환 = bin(숫자변환)     # 16진수 binarycode
    print( 이진수변환, end = ' ')  # 한 줄로 표현하기

In [ ]:
for c in '파이썬':
    # 이진수에서 앞'0b'를 없애기 위해 format() 함수 사용할 수 있다.
    print( format(ord(c), 'b'), end = ' ')  # 한 줄로 표현하기

### 문자열 따옴표로 지정

#### 큰 따옴표  or 작은 따옴표로 지정한다

In [ ]:
print('Hello')
print("Hello")
print("Hello 'world")
print('Hello "world')
print(' "Yes, I can!" ')

#### 따옴표 세 개 사용 : 여러 줄로 표현할 때

In [ ]:
a = '''박씨가 소리질렀다.
도둑이야!'''
print(a)

In [ ]:
a = '''OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원'''
print(a)

### [실습] 주문받아 출력하기

In [ ]:
# 주문받아 출력하기
menu = a

### 문자열 연산
- (+): 문자열 연결하기

- (*) : 반복의 의미

### [실습문제] 문자열 출력하기
- 문제1: 화면에   Mary’s cosmetics   출력
- 문제2: 화면에  박씨가 소리질렀다. “도둑이야!”.  출력
- 문제3: 다음 코드 실행시켜서 \t와 \n의 역할 확인하기 <br>
print("안녕하세요.\n오늘\t날씨가\t\t좋습니다.")

-------------------

## 2-3.문자열 인덱싱과 슬라이싱

In [ ]:
a = '우리는 민족중흥의 역사적 사명을 띠고 이 땅에 태어났다.'
print( )

In [ ]:
fruits = 'orange'
print( )

---------------------------

## 2-4.변수 활용

### [실습문제]: 지불할 음식 총 가격 계산하기
- 음식가격:  4,450 원
- 세금: 6.75%
- 팁: 15%
1. meal 변수를 선언하고 값을 4450으로 지정하세요.
2. tax 변수를 생성하고 값으로 6.75%를 소수점 형태로 지정하세요.
3. tip 변수를 생성하고 값으로 15%를 소수점 형태로 지정하세요.
4. meal의 변수값에 세금을 곱해 meal 변수에 지정하세요.
5. 음식값에 tip을 더해 total 변수에 지정하세요.
6. total 변수 값을 출력하세요.

In [ ]:
meal = 4450    # 1.음식가격
tax = 0.0675   # 2.세금
tip = 0.15     # 3.팁

### [실습문제]: 섭씨온도를 화씨온도로 변환하기
- 섭씨 온도 (Celsius): 1 atm에서의 물의 어는점을 0도, 끓는점을 100도로 정한 온도 체계. (°C)


- 화씨 온도 (Fahrenheit): 물이 어는 온도는 32도, 물이 끓는 온도는 212도. 180등분. (°F)
- 섭씨온도(℃) = (5 / 9) × (℉ - 32)  # Celsius
- 화씨온도(℉) = (9 / 5) × ℃ + 32    # Fahrenheit

In [ ]:
# c_temp = input()   #키보드로부터 입력을 받는 함수: input()
# c_temp = int(c_temp)  # 정수로 변환: int()
# print(c_temp, type(c_temp) )

-------

## 2-5.연산자

### [실습문제]: 동전 교환 프로그램 만들기

In [ ]:
# 키보드로부터 금액 입력 받기
print('---동전교환기 프로그램을 작동합니다.---')
money = int( input('금액을 입력하세요: '))
print('동전으로 교환하겠습니다.---------')

-----------------------------------------

## 2-6.리스트(List)
- 리스트는 여러 개의 데이터 값을 하나의 변수에 담을 수 있는 데이터 구조
- 리스트는 순서(인덱스)가 있고 데이터를 수정, 삭제, 추가 가능하다.
- 대괄호로 표현되고 내부 원소는 ,(쉼표)로 구분됨

### 리스트 생성

In [ ]:
a = list()
a = []
a = [1,2,3]
a = ['I', 'Love', 'Python']
b = [1,2, '사랑해요', 'Python']
b = ['a', '1', 1, [2,3], -4]
a = [1,2,['a','b',['사랑해', '파이썬']], 3]

In [ ]:
print(a)
print(b)

### 리스트 삭제

In [ ]:
del(b)

print(a)
print(b)

### 리스트 요소에 접근

In [ ]:
print( a[1] )
print( a[2] )
print( a[2][1] )
# '파이썬'을 출력하려면?

### 리스트 요소 추가 / 변경

In [ ]:
print(a)
a.append('봄')     # 리스트 맨 끝에 추가
print(a)
a.insert(1, '봄')  # 리스트명.insert(인덱스위치, 값)
print(a)

### 리스트 요소 삭제

In [ ]:
print(a)
a.pop()     # 리스트 맨 끝 요소 삭제
print(a)
a.remove('봄')  # 리스트명.remove(값), 단 여러 개 일 경우 첫 번째만 삭제됨
print(a)

## 2-7.딕셔너리(Dictionary)
- 딕셔너리는 쌍이 하나로 묶인 자료구조
- 인덱스를 의미하는 ‘키(key)'와 자료의 내용인 ‘ 값(value)'을 이용하여  데이터를 관리
- 중괄호 { }로 묶어 구성, 키(Key)와 값(Value)의 쌍으로 구성
- 순서(sequence)가 없다

### 딕셔너리 생성

In [ ]:
members = {'name':'진', 'age':29, 'email':'jin@gggmail.com'}

### 딕셔너리 키(key)와 값(value)에 접근하기

In [ ]:
scores = {'국어': 100, '수학': 90, '영어': 80}

print(scores['국어'])  # 딕셔너리는 키로 접근한다.

# 방법1
print('---방법1---')
for key in scores:
    print('%s => %s' % (key, scores[key]))

# 방법2
print('---방법2---')
for key, value in scores.items():
    print('%s => %s' % (key, value))

In [ ]:
print(scores.keys())   # 키만 추출
print(scores.values()) # 키만 추출
print(scores.items())  # (키,값)쌍 형태로 추출

### 딕셔너리에 요소 추가/수정/삭제

In [ ]:
# 키로 요소 추가하기
scores['music'] = 100
print(scores)

# 요소 값 수정하기
scores['수학'] = 99
print(scores)

# 요소 삭제하기
del (scores['영어'])
print(scores)

------------------------

끝